
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: gateways.gateway.kubesphere.io
spec:
  group: gateway.kubesphere.io
  names:
    kind: Gateway
    listKind: GatewayList
    plural: gateways
    singular: gateway
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Gateway is the Schema for the gateways API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: GatewaySpec defines the desired state of Gateway
            properties:
              controller:
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    type: object
                  config:
                    additionalProperties:
                      type: string
                    type: object
                  replicas:
                    format: int32
                    type: integer
                  scope:
                    properties:
                      enabled:
                        type: boolean
                      namespace:
                        type: string
                    type: object
                type: object
              deployment:
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    type: object
                  replicas:
                    format: int32
                    type: integer
                type: object
              service:
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    type: object
                  type:
                    description: Service Type string describes ingress methods for
                      a service
                    type: string
                type: object
            type: object
          status:
            type: object
            x-kubernetes-preserve-unknown-fields: true
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
