---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: accessors.storage.kubesphere.io
spec:
  group: storage.kubesphere.io
  names:
    kind: Accessor
    listKind: AccessorList
    plural: accessors
    singular: accessor
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .spec.storageClassName
          name: StorageClass
          type: string
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Accessor is the Schema for the accessors API
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: AccessorSpec defines the desired state of Accessor
              properties:
                namespaceSelector:
                  properties:
                    fieldSelector:
                      items:
                        properties:
                          fieldExpressions:
                            items:
                              properties:
                                field:
                                  enum:
                                    - Name
                                    - Status
                                  type: string
                                operator:
                                  enum:
                                    - In
                                    - NotIn
                                  type: string
                                values:
                                  items:
                                    type: string
                                  type: array
                              required:
                                - field
                                - operator
                                - values
                              type: object
                            type: array
                        required:
                          - fieldExpressions
                        type: object
                      type: array
                    labelSelector:
                      items:
                        properties:
                          matchExpressions:
                            items:
                              properties:
                                key:
                                  type: string
                                operator:
                                  enum:
                                    - In
                                    - NotIn
                                  type: string
                                values:
                                  items:
                                    type: string
                                  type: array
                              required:
                                - key
                                - operator
                                - values
                              type: object
                            type: array
                        required:
                          - matchExpressions
                        type: object
                      type: array
                  type: object
                storageClassName:
                  type: string
                workspaceSelector:
                  properties:
                    fieldSelector:
                      items:
                        properties:
                          fieldExpressions:
                            items:
                              properties:
                                field:
                                  enum:
                                    - Name
                                    - Status
                                  type: string
                                operator:
                                  enum:
                                    - In
                                    - NotIn
                                  type: string
                                values:
                                  items:
                                    type: string
                                  type: array
                              required:
                                - field
                                - operator
                                - values
                              type: object
                            type: array
                        required:
                          - fieldExpressions
                        type: object
                      type: array
                    labelSelector:
                      items:
                        properties:
                          matchExpressions:
                            items:
                              properties:
                                key:
                                  type: string
                                operator:
                                  enum:
                                    - In
                                    - NotIn
                                  type: string
                                values:
                                  items:
                                    type: string
                                  type: array
                              required:
                                - key
                                - operator
                                - values
                              type: object
                            type: array
                        required:
                          - matchExpressions
                        type: object
                      type: array
                  type: object
              required:
                - storageClassName
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
