name: Go

on:
  push:
    branches:
      - 'master'
      - 'dev'
    tags:
      - 'release-*'
  pull_request:
    branches:
      - 'master'
      - 'dev'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:

      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Check pr is properly formatted
        run: diff -u <(echo -n) <(gofmt -d ./pkg ./cmd ./tools ./test)

      - name: Downloading go dependencies
        run: go mod vendor

      - name: Build
        run: make all

      - name: Uploading code coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bash <(curl -s https://codecov.io/bash)

      - name: Get branch name
        id: extract_branch
        shell: bash
        run: echo "##[set-output name=branch;]$(ehco ${GITHUB_REF#refs/heads/})"

      - name: Build and push docker images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        if: github.event_name == 'push'
        run: bash hack/docker_build.sh ${{ steps.extract_branch.outputs.branch }}